<h1>About</h1>

<!-- <div class="card bg-dark text-success" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">A propos</h5>
    <h6 class="card-subtitle mb-2">{{infos.name}}</h6>
    <p class="card-text">{{infos.email}}</p>
     <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> 
  </div>
</div> -->



<!-- <section class="main">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Date de Naissance</th>
						<th>Mail</th>
						<th>Téléphone</th>
						<th>Photo</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let contact of contacts">
						<th scope="row">{{contact.id}}</th>
						<td>{{contact.nom}}</td>
						<td>{{contact.prenom}}</td>
						<td>{{contact.dateNaissance}}</td>
						<td>{{contact.email}}</td>
						<td>{{contact.tel}}</td>
						<td>{{contact.photo}}</td>
						<td>
							 <button type="button" class="btn btn-success" (click)="editUtilisateurPage(utilisateur)" >Editer</button>
							<button type="button" class="btn btn-danger" (click)="deleteUtilisateur(utilisateur)" >Supprimer</button> 
						</td>
					</tr>
				</tbody>
			</table>
		</section> -->