<!-- <div class="col-md-3"> -->
<!-- <ul class="search-result">
    <li *ngFor="let carte of cartes" > -->
     
        <div *ngFor="let carte of cartes" class="card bg-primary" style="width: 18rem; box-shadow: 2px 4px 8px black; margin: 2em;">
  			<img [src]="carte.img" class="card-img-top" alt="...">
	  		<div class="card-body">
	    		<h5 class="card-title">{{carte.name}}</h5>
	    		<p class="card-text">{{carte.playerClass}}</p>
	  		</div>
		</div>
	     
   <!--  </li>
  </ul> -->
<!--  </div> -->
